<ion-content>
  <div id="errorMsg"></div>
 <!-- [ngClass]="{'top-video': topVideoFrame === 'partner-video', 'main-video': topVideoFrame != 'partner-video'}" -->
  <video id="partner-video" (click)="swapVideo('my-video')" autoplay playsinline
   
    >
  </video>
  <!-- [ngClass]="{'top-video': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}" > -->

  <video id="my-video" (click)="swapVideo('partner-video')" autoplay playsinline></video>


  <ion-row nowrap>
    <ion-button (click)="init()">Login As: </ion-button>
    <ion-item>
      <ion-input type="text" [(ngModel)]="userId" placeholder="enter your nick name"></ion-input>
    </ion-item>
  </ion-row>

  <ion-row nowrap>
    <ion-button (click)="call()">Call To: </ion-button>
    <ion-item>
        <ion-select [compareWith]="compareWith">
            <ion-select-option *ngFor="let contact of allContacts">{{contact.givenName + ' ' + contact.givenName}}</ion-select-option>
          </ion-select>
      <!-- <ion-input type="text" [(ngModel)]="partnerId" placeholder="your partner nick name"></ion-input> -->
    </ion-item>
  </ion-row>  
</ion-content>
